<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width">
</head>
<body>
  <div class="app-wrapper">
    <div class="loader"></div>
    <div class="app-header">
      <h1>NRMA Kiosk A.I.</h1>
    </div>

    <div class="app">
      <section id="step-1">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h2>Smile to the camera</h2>
              <div class="lozenge-tip">
                <i class="material-icons">lightbulb_outline</i>
                <p>Remember to turn on the camera on your laptop.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="step-2" class="inactive">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h2>Welcome back, <span>Jack Russell</span></h2>
            </div>
          </div>
        </div>
      </section>

      <section id="step-nav">
        <div class="container">
          <div class="row">
            <div class="col s12 button-group">
              <button class="nav-btn back-btn">Back</button>
              <button class="nav-btn next-btn">Next</button>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="app-footer">
      <p>www.nrma.com.au</p>
    </div>
  </div>
</body>
</html>
