.lozenge-tip {
  margin: 0 0 20px 0;
  font-family: "Titillium Web Regular", sans-serif;
  @include display(flex);
  @include align-items(flex-start);

  i {
    color: $primary-color;
  }

  p {
    margin: 0 0 0 10px;
  }
}
